body{
    background-color: lightskyblue;
}
#heading{
    color:red; 
    text-align: center; 
    font-size: 30px;
    background-color: purple;
}
.card{
    background-color: #848ea7;
    height:450px;
    width:25%;
    float:left;
    margin:3%;
    overflow:scroll;
    color:white;
}
.cardheading{
    color:white; 
    text-align:center
}
.cardimg{
    height:200px;
    width:100%
}
.brown{
    background-color:#553d39
}
.mud{
    background-color:#d4b3a1
}